/* .my-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
} */

.my-portfolio {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
  }

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main-column {
    flex: 55%;
    padding: 20px;
}

.side-column {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* .side-column img {
    max-width: 100%;
    height: auto;
  } */

.project {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.project img {
    /* max-width: 100%;
    height: auto; */
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire area without stretching */
}

.project button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .project button:hover {
    background-color: #0056b3;
  }
  
/* Add responsiveness for my portfolio page */
@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}
