 .navigation-menu {
    background-color: #444;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    /*justify-content: center;*/
     flex-wrap: wrap;
}

.navigation-menu li {
   
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navigation-menu a { 
    /*color: #fff;
    text-decoration: none;*/
    text-decoration: none;
  color: white;
  padding: 10px 15px;
  
}


.navigation-menu a:hover {
    text-decoration: underline;
    
}

.navigation-menu .active-link {
    background: rgb(6, 190, 46);
    color: black;
  } 

/* Add responsiveness for navigation menu */
 @media (max-width: 768px) {
    .navigation-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation-menu li {
        margin: 5px 0;
    }
} 

